<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="challengingDom_suite" verbose="10">
<listeners>
 <listener class-name="com.org.utils.SuiteListener"></listener>
</listeners>
  <test name="Test Automation">
      <parameter name="browserName" value="chrome"/>
      <classes>
      <class name="com.org.test.ChallengingDomTest"/>
      </classes>
  </test> 
</suite>